header.js
    /* .header{
        color: rgb(3, 96, 236);
        padding: 15px;
        text-align: center;
        border-bottom: 3px solid #0057b3c6;

   } */

   .header {
  color: rgb(3, 96, 236);
  padding: 15px;
  text-align: center;
  border-bottom: 3px solid #0057b3c6;
}
